html {
    box-sizing: border-box;
}

*,
*::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.nav {
    padding: 83px 0;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

img {
    margin-bottom: 32px;
    display: block;
    max-width: 100%;
    height: auto;
}

.site-menu-item {
    display: inline-block;
    vertical-align: middle;
}

.site-menu-item:not(:last-child) {
    margin-right: 100px;
    vertical-align: middle;
}

.site-menu {
    display: block;
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.site-menu a {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 17px;
}

.site-menu a:hover,
.site-menu a:focus {
    color: #03a9f4;
}

.about-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.about-list-item {
    margin-bottom: 130px;
    width: 420px;
    display: inline-block;
    font-style: 14px;
    vertical-align: top
}

.about-list-item:not(:nth-child(2n)) {
    margin-right: 60px;
}

.about-list-item:nth-last-child(-n +2) {
    margin-bottom: 0;
}

.subtitle {
    margin-bottom: 32px;
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.title {
    margin-bottom: 38px;
    font-size: 30px;
    line-height: 36px;
}

.text {
    font-size: 14px;
    line-height: 24px;
}

.dropdown {
    text-align: center;
    width: 164px;
    margin: 0 auto;
    height: 60px;
    box-sizing: inherit;
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Playfair Display', serif;
    padding: 0px;
    border: 0px;
    margin-top: 57px;
    margin-bottom: 70px;
    cursor: pointer;
 }

/* .dropdown {
    border: none;
    margin: 0px;
    padding: 0px;
    width: 164px;
    height: 60px;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Playfair Display', serif;
    color: #626262;
    text-align: center;
    cursor: pointer;
    display: block;
    text-align: center;
    box-sizing: inherit;
    margin-bottom: 70px;
    margin-right: 0px;
    margin-top: 57px;
} */ 